body {
  display: flex;
  justify-content: center;
  color: #292929;
  font-display: block;
}

main {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.8;
  width: clamp(1px, 1000px, 95vw);
}

#logo a {
  display: block;
  font-family: "Rubik Mono One", sans-serif;
  font-size: clamp(12px, 4rem, 13vw);
  font-weight: 700;
  width: fit-content;
  transform: rotate(-3deg);
  padding: 0px 0.5em;
  text-decoration: none;
  background-color: #292929;
  color: white;
}

#logo a:hover {
  text-decoration: none;
  background-color: #1c425e;
  color: white;
}

a {
  width: fit-content;
  font-weight: 500;
  color: #1c425e;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
}

a:hover {
  background-color: #f4d35e;
}

pre {
  margin: 0 -20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.content {
  text-align: justify;
  text-align-last: left;
  text-justify: none;
}

.raquo {
  margin: 0 0.5em;
}

.breadcrumbs {
  width: 100%;
  overflow: auto scroll;
  white-space: nowrap;
  font-weight: 300;
}
