<div class="contactInfo"><slot /></div>

<style>
  .contactInfo {
    display: grid;
    grid-template-columns: max(10vw, 5em) 1fr;
    column-gap: clamp(10px, 5vw, 30px);
    row-gap: 1ex;
    padding: 0 10px;
  }
</style>
