.bg-dark {
  background: black;
}

.word {
  width: clamp(25vw, 600px, 100vw);
  display: flex;
  border: 5px white solid;
  box-sizing: border-box;
  font-family: "Source Code Pro Variable";
}

.letter-box {
  width: 25%;
  aspect-ratio: 1;
  background: rgb(101, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(101, 0, 0, 1) 0%,
    rgba(139, 0, 0, 1) 6%
  );
  flex-basis: auto;
  text-transform: uppercase;
  border: 5px white solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letter {
  color: white;
  font-size: 88px;
  font-weight: 600;
  pointer-events: none;
}

.action {
  width: 25%;
  aspect-ratio: 1;
  background: rgb(101, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(101, 0, 0, 1) 0%,
    rgba(139, 0, 0, 1) 6%
  );
  flex-basis: auto;
  text-transform: uppercase;
  border: 5px white solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action .letter {
  color: white;
}

@keyframes pulse {
  0% {
    color: rgb(255, 255, 255, 0.6);
  }
  100% {
    color: rgb(255, 255, 255, 0.9);
  }
}

.loading {
  animation: pulse 5s infinite;
}
