---
import { getTagCounts } from "../pages/blog/blog";
import SidebarHeader from "./SidebarHeader.astro";
import shuffle from "lodash";
const { posts, top } = Astro.props;
const popularTags = getTagCounts(posts);
---

<SidebarHeader>Popular Tags</SidebarHeader>
<ul>
  {
    popularTags.slice(0, top).map((entry) => (
      <li>
        <a href={`/blog/tag/${entry.tag.toLowerCase().replaceAll(" ", "-")}`}>
          #{entry.tag} ({entry.count})
        </a>{" "}
      </li>
    ))
  }
</ul>

<style>
  ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
  }

  li {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    text-wrap: nowrap;
  }

  ul ul {
    padding-left: 1rem;
  }
</style>
