---
import SidebarHeader from "./SidebarHeader.astro";
---

<SidebarHeader>Links</SidebarHeader>
<ul>
  <li>
    <a href="#">Back to Top</a>
  </li>
  <li>
    <a href={`${import.meta.env.BASE_URL}/blog/rss.xml`}>RSS Feed</a>
  </li>
</ul>

<style>
  ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    line-height: 1.3;
  }

  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }

  ul ul {
    padding-left: 1rem;
  }
</style>
