---
import {
  skillData,
  personalProjectData,
  workExperienceData,
  educationData,
} from "../cv.ts";
import Header from "../../components/Header.tsx";
import Footer from "../../components/Footer.tsx";
import Head from "../../components/Head.tsx";
import "@fontsource-variable/source-code-pro";
import "@fontsource/fira-sans/100.css";
import "@fontsource/fira-sans/200.css";
import "@fontsource/fira-sans/300.css";
import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/500.css";
import "@fontsource/fira-sans/600.css";
import "@fontsource/fira-sans/700.css";
import "@fontsource/fira-sans/800.css";
import "@fontsource/fira-sans/900.css";
import "@fontsource/rubik-mono-one";
import CVSection from "../../components/CVSection.astro";
import style from "../../styles/global.module.css";
import PageLayout from "../../layouts/PageLayout.astro";
const { frontmatter } = Astro.props;
---

<PageLayout
  frontmatter={{ title: "Projects", ...frontmatter }}
  breadcrumbData={{
    title: "Projects",
    href: `${import.meta.env.BASE_URL}/projects`,
  }}
>
  <h1>Personal Projects</h1>
  <div class={style.mainList}>
    <CVSection data={personalProjectData} full />
  </div>
</PageLayout>
